<img title="<%= name%>" alt="<%= name%>" class="person img-responsive" src="https://usercontent.googleapis.com/freebase/v1/image<%= image%>?errorid=/freebase/no_image_png&key=<%= freebase_key%>&maxwidth=<%= img_max_size%>&maxheight=<%= img_max_size%>&mode=fillcropmid">
<div data-mid="<%= mid%>" class="entity-name _mid_data"><%= name%></div>
